<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - API Reference</title>

<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>
<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/ref/view/class/eZCharsetInfo.html"/>
</head>

<body>

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
  <div class="site-pathline"><p class="path">&nbsp; class <span class="slash">/</span> eZCharsetInfo &nbsp;</p></div>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/ref.html">API Reference</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><p class="groupname">Sections</p><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/ref/view/todo/">Todo</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2"><h1 class="dox">eZCharsetInfo Class Reference<br>
<small>
[<a class="dox_el" href="/sdk/ref/view/module/eZI18N.html">Internationalization</a>]</small>
</h1>Allows for quering information about charsets. 
<a href="eZCharsetInfo.html#_details">More...</a>
<p>
<a href="/sdk/ref/view/members/eZCharsetInfo">List of all members.</a><table border="0" cellpadding="0" cellspacing="0">
<tr><td></td></tr>
<tr><td colspan="2"><br><h2>Public Methods</h2></td></tr>
<tr><td nowrap align="right" valign="top">&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZCharsetInfo.html#a0">realCharsetCode</a> ($charsetCode)</td></tr>
<tr><td nowrap align="right" valign="top">&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZCharsetInfo.html#a1">characterEncodingScheme</a> ($charsetCode)</td></tr>
<tr><td colspan="2"><br><h2>Static Private Methods</h2></td></tr>
<tr><td nowrap align="right" valign="top">&amp;&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZCharsetInfo.html#f0">aliasTable</a> ()</td></tr>
<tr><td nowrap align="right" valign="top">&amp;&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZCharsetInfo.html#f1">encodingTable</a> ()</td></tr>
<tr><td nowrap align="right" valign="top">&amp;&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZCharsetInfo.html#f2">reverseEncodingTable</a> ()</td></tr>
</table>
<hr><a name="_details"></a><h2>Detailed Description</h2>
Allows for quering information about charsets.
<p>
A charset can be known by multiple names but the internationlization system only works with one name. To fetch the real internal name use the static <a class="dox_el" href="eZCharsetInfo.html#a0">realCharsetCode()</a> function. Each charset also has a specific encoding scheme associated with it which can be fetched with <a class="dox_el" href="eZCharsetInfo.html#a1">characterEncodingScheme()</a>. 
<p>

<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.<hr><h2>Member Function Documentation</h2>
<a name="f0" doxytag="eZCharsetInfo::aliasTable"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> &amp; eZCharsetInfo::aliasTable </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp;          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap><code> [static, private]</code></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
<dl compact><dt><b>Returns: </b></dt><dd>
the hash table with aliases, creates if it doesn't already exist. </dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.
<p>
References <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00061.html">aliasTable()</a>.
<p>
Referenced by <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00194.html">realCharsetCode()</a>.    </td>
  </tr>
</table>
<a name="a1" doxytag="eZCharsetInfo::characterEncodingScheme"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> eZCharsetInfo::characterEncodingScheme </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_md" nowrap valign="top">$&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp; <em>charsetCode</em>          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Tries to figure out the character encoding scheme for the given character set. It uses <a class="dox_el" href="eZCharsetInfo.html#a0">realCharsetCode()</a> to get the correct internal charset so any charset can be given to this function. Either returns the found encoding scheme or 'singlebyte' if no scheme was found. <dl compact><dt><b>See also: </b></dt><dd>
<a class="dox_el" href="eZCharsetInfo.html#a0">realCharsetCode</a> </dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.
<p>
References <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00173.html">reverseEncodingTable()</a>.
<p>
Referenced by <a class="dox_el" href="/sdk/ref/view/source/ezcodepage#l00053.html">eZCodePage::eZCodePage()</a>.    </td>
  </tr>
</table>
<a name="f1" doxytag="eZCharsetInfo::encodingTable"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> &amp; eZCharsetInfo::encodingTable </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp;          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap><code> [static, private]</code></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
<dl compact><dt><b>Returns: </b></dt><dd>
the character encoding hash table, creates it if it does not exist. The table will map from a character encoding scheme to an array of character sets. </dl><dl compact><dt><b>See also: </b></dt><dd>
<a class="dox_el" href="eZCharsetInfo.html#f2">reverseEncodingTable</a> </dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.
<p>
References <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00152.html">encodingTable()</a>.
<p>
Referenced by <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00173.html">reverseEncodingTable()</a>.    </td>
  </tr>
</table>
<a name="a0" doxytag="eZCharsetInfo::realCharsetCode"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> eZCharsetInfo::realCharsetCode </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_md" nowrap valign="top">$&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp; <em>charsetCode</em>          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Tries to find an alias for the charset code and returns it. If no alias code could be find the original charset code is returned. <dl compact><dt><b>Note: </b></dt><dd>
The resulting charset code will be an all lowercase letters. </dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.
<p>
References <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00061.html">aliasTable()</a>.
<p>
Referenced by <a class="dox_el" href="/sdk/ref/view/source/eztextcodec#l00321.html">eZTextCodec::internalCharset()</a>.    </td>
  </tr>
</table>
<a name="f2" doxytag="eZCharsetInfo::reverseEncodingTable"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> &amp; eZCharsetInfo::reverseEncodingTable </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp;          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap><code> [static, private]</code></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
<dl compact><dt><b>Returns: </b></dt><dd>
the reverse character encoding hash table, creates it if it does not exist. The table will map from a character set to a character encoding scheme. </dl><dl compact><dt><b>See also: </b></dt><dd>
<a class="dox_el" href="eZCharsetInfo.html#f1">encodingTable</a> </dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a>.
<p>
References <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00173.html">reverseEncodingTable()</a>.
<p>
Referenced by <a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo#l00173.html">reverseEncodingTable()</a>.    </td>
  </tr>
</table>
<hr>The documentation for this class was generated from the following file:<ul>
<li><a class="dox_el" href="/sdk/ref/view/source/ezcharsetinfo.html">ezcharsetinfo.php</a></ul>
&nbsp;
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>