<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - API Reference</title>

<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>
<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/ref/view/class/eZNavigationPart.html"/>
</head>

<body>

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
<div class="doc-notice">
  <p>&#128218; <strong>Looking for current Exponential documentation?</strong> This site contains legacy SDK &amp; API reference docs (eZ Publish era). For up-to-date 2026 product documentation, visit <a href="https://doc.exponential.earth" target="_blank" rel="noopener noreferrer">doc.exponential.earth</a>.</p>
</div>
  <div class="site-pathline"><p class="path">&nbsp; class <span class="slash">/</span> eZNavigationPart &nbsp;</p></div>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/ref.html">API Reference</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><p class="groupname">Sections</p><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/ref/view/todo/">Todo</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2"><h1 class="dox">eZNavigationPart Class Reference<br>
<small>
[<a class="dox_el" href="/sdk/ref/view/module/eZKernel.html">Kernel system</a>]</small>
</h1>eZNavigationPart handles grouping of functions across modules 
<a href="eZNavigationPart.html#_details">More...</a>
<p>
<a href="/sdk/ref/view/members/eZNavigationPart">List of all members.</a><table border="0" cellpadding="0" cellspacing="0">
<tr><td></td></tr>
<tr><td colspan="2"><br><h2>Static Public Methods</h2></td></tr>
<tr><td nowrap align="right" valign="top">&amp;&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZNavigationPart.html#d0">fetchPartByIdentifier</a> ($identifier)</td></tr>
</table>
<hr><a name="_details"></a><h2>Detailed Description</h2>
eZNavigationPart handles grouping of functions across modules
<p>
A navigation part is a group of functions which belongs together. Every view can return the navigation part it should use. It is up to the view to return the proper navigation part. Views can internally check which navigation part to use, in the case of content/view the view will check the navigation part set in the section setup and use this.
<p>
If the view does not return any navigation part it will default 
<p>

<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eznavigationpart.html">eznavigationpart.php</a>.<hr><h2>Member Function Documentation</h2>
<a name="d0" doxytag="eZNavigationPart::fetchPartByIdentifier"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> &amp; eZNavigationPart::fetchPartByIdentifier </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_md" nowrap valign="top">$&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp; <em>identifier</em>          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap><code> [static]</code></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Will return the navigation part array if the identifier is valid, the default will be returned if the identifier is not valid 
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eznavigationpart.html">eznavigationpart.php</a>.    </td>
  </tr>
</table>
<hr>The documentation for this class was generated from the following file:<ul>
<li><a class="dox_el" href="/sdk/ref/view/source/eznavigationpart.html">eznavigationpart.php</a></ul>
&nbsp;
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>