<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - API Reference</title>

<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>
<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/ref/view/class/eZTemplateOperator.html"/>
</head>

<body>

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
  <div class="site-pathline"><p class="path">&nbsp; class <span class="slash">/</span> eZTemplateOperator &nbsp;</p></div>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/ref.html">API Reference</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><p class="groupname">Sections</p><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/ref/view/todo/">Todo</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2"><h1 class="dox">eZTemplateOperator Class Reference<br>
<small>
[<a class="dox_el" href="/sdk/ref/view/module/eZTemplateOperators.html">Template operators</a>]</small>
</h1>Base documentation class for operators. 
<a href="eZTemplateOperator.html#_details">More...</a>
<p>
<a href="/sdk/ref/view/members/eZTemplateOperator">List of all members.</a><table border="0" cellpadding="0" cellspacing="0">
<tr><td></td></tr>
<tr><td colspan="2"><br><h2>Public Methods</h2></td></tr>
<tr><td nowrap align="right" valign="top">&amp;&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZTemplateOperator.html#a0">operatorList</a> ()</td></tr>
<tr><td nowrap align="right" valign="top">&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZTemplateOperator.html#a1">namedParameterList</a> ()</td></tr>
<tr><td nowrap align="right" valign="top">&nbsp;</td><td valign="bottom"><a class="dox_el" href="eZTemplateOperator.html#a2">modify</a> (&amp;$element,&amp;$tpl,&amp;$op_name,&amp;$op_params,&amp;$namespace,&amp;$value,&amp;$named_params)</td></tr>
</table>
<hr><a name="_details"></a><h2>Detailed Description</h2>
Base documentation class for operators.
<p>
<dl compact><dt><b>Note: </b></dt><dd>
This class is never used but only exists for documentation purposes. </dl>
<p>

<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eztemplateoperator.html">eztemplateoperator.php</a>.<hr><h2>Member Function Documentation</h2>
<a name="a2" doxytag="eZTemplateOperator::modify"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> eZTemplateOperator::modify </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_md" nowrap valign="top">&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>element</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>tpl</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>op_name</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>op_params</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>namespace</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>value</em>, </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="dox_md" nowrap>&amp;$&nbsp;</td>
          <td class="dox_mdname" nowrap>&nbsp; <em>named_params</em></td>
        </tr>
        <tr>
          <td></td>
          <td class="dox_md">)&nbsp;</td>
          <td class="dox_md" colspan="2"></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Modifies the input variable $value and sets the output result in the same variable.
<p>
<dl compact><dt><b>Note: </b></dt><dd>
Remember to use references on the function arguments. </dl><dl compact><dt><b>Parameters: </b></dt><dd>
<table border="0" cellspacing="2" cellpadding="0">
<tr><td valign="top"><em>element</em>&nbsp;</td><td>
The operator element, can be used for doing advanced querying but should be avoided. </td></tr>
<tr><td valign="top"><em>tpl</em>&nbsp;</td><td>
The template object which called this class </td></tr>
<tr><td valign="top"><em>op_name</em>&nbsp;</td><td>
The name of this operator </td></tr>
<tr><td valign="top"><em>op_params</em>&nbsp;</td><td>
The parameters for this operator </td></tr>
<tr><td valign="top"><em>namespace</em>&nbsp;</td><td>
The namespace which this operator works in </td></tr>
<tr><td valign="top"><em>value</em>&nbsp;</td><td>
The current namespace for functions, this is usually used in functions for setting new variables. The input/output value </td></tr>
<tr><td valign="top"><em>named_params</em>&nbsp;</td><td>
The parameters as named lookups, only required if <a class="dox_el" href="eZTemplateOperator.html#a1">namedParameterList()</a> is defined. The values of each parameter is also fetched for you. </td></tr>
</table>
</dl>
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eztemplateoperator.html">eztemplateoperator.php</a>.    </td>
  </tr>
</table>
<a name="a1" doxytag="eZTemplateOperator::namedParameterList"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> eZTemplateOperator::namedParameterList </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp;          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Returns an array of named parameters, this allows for easier retrieval of operator parameters. This also requires the function <a class="dox_el" href="eZTemplateOperator.html#a2">modify()</a> has an extra parameter called $named_params.
<p>
The position of each element (starts at 0) represents the position of the original sequenced parameters. The key of the element is used as parameter name, while the contents define the type and requirements. The keys of each element content is: type - defines the type of parameter allowed required - boolean which says if the parameter is required or not, if missing and required an error is displayed default - the default value if the parameter is missing 
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eztemplateoperator.html">eztemplateoperator.php</a>.    </td>
  </tr>
</table>
<a name="a0" doxytag="eZTemplateOperator::operatorList"></a><p>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td class="dox_md">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="dox_md" nowrap valign="top"> &amp; eZTemplateOperator::operatorList </td>
          <td class="dox_md" valign="top">(&nbsp;</td>
          <td class="dox_mdname1" valign="top" nowrap>&nbsp;          </td>
          <td class="dox_md" valign="top">)&nbsp;</td>
          <td class="dox_md" nowrap></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table cellspacing="5" cellpadding="0" border="0">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>

<p>
Returns the template operators which are registered when using <a class="dox_el" href="/sdk/ref/view/class/eZTemplate#a47.html">eZTemplate::registerOperators()</a> 
<p>
Definition at line <a class="dox_el" href="/sdk/ref/view/source/eztemplateoperator.html">eztemplateoperator.php</a>.    </td>
  </tr>
</table>
<hr>The documentation for this class was generated from the following file:<ul>
<li><a class="dox_el" href="/sdk/ref/view/source/eztemplateoperator.html">eztemplateoperator.php</a></ul>
&nbsp;
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>