<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - API Reference</title>

<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>
<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/ref/view/module/eZTemplateOperators/"/>
</head>

<body>

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
  <div class="site-pathline"><p class="path">&nbsp; module <span class="slash">/</span> eZTemplateOperators &nbsp;</p></div>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/ref.html">API Reference</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><p class="groupname">Sections</p><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/ref/view/todo/">Todo</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2"><h1 class="dox">Template operators<br>
<small>
[<a class="dox_el" href="/sdk/ref/view/module/eZTemplate.html">Template system</a>]</small>
</h1><table border="0" cellpadding="0" cellspacing="0">
<tr><td></td></tr>
<tr><td colspan="2"><br><h2>Compounds</h2></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateArrayOperator.html">eZTemplateArrayOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Dynamic creation of arrays using operator "array".</em> <a href="/sdk/ref/view/class/eZTemplateArrayOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateAttributeOperator.html">eZTemplateAttributeOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Display of variable attributes using operator "attribute".</em> <a href="/sdk/ref/view/class/eZTemplateAttributeOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateControlOperator.html">eZTemplateControlOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Operators for checking variable type.</em> <a href="/sdk/ref/view/class/eZTemplateControlOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateImageOperator.html">eZTemplateImageOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Text to image conversion using operator "texttoimage".</em> <a href="/sdk/ref/view/class/eZTemplateImageOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateLocaleOperator.html">eZTemplateLocaleOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Locale aware conversions and output using operator "l10n".</em> <a href="/sdk/ref/view/class/eZTemplateLocaleOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateLogicOperator.html">eZTemplateLogicOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Logical operators for creating and manipulating booleans.</em> <a href="/sdk/ref/view/class/eZTemplateLogicOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateNl2BrOperator.html">eZTemplateNl2BrOperator</a></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateOperator.html">eZTemplateOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Base documentation class for operators.</em> <a href="/sdk/ref/view/class/eZTemplateOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplatePHPOperator.html">eZTemplatePHPOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Makes it easy to add php functions as operators.</em> <a href="/sdk/ref/view/class/eZTemplatePHPOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateTypeOperator.html">eZTemplateTypeOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Operators for checking variable type.</em> <a href="/sdk/ref/view/class/eZTemplateTypeOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateUnitOperator.html">eZTemplateUnitOperator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Handles unit conversion and display using the operator "si".</em> <a href="/sdk/ref/view/class/eZTemplateUnitOperator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTemplateWashOperator.html">eZTemplateWashOperator</a></td></tr>
</table>
&nbsp;
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>