<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - Kernel</title>

<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/kernel/view/other_concepts/"/>
</head>
<head>
<title>Exponential SDK</title>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>

</head>

<body style="background: url(/design/standard/images/grid-background.gif);">

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
<div class="doc-notice">
  <p>&#128218; <strong>Looking for current Exponential documentation?</strong> This site contains legacy SDK &amp; API reference docs (eZ Publish era). For up-to-date 2026 product documentation, visit <a href="https://doc.exponential.earth" target="_blank" rel="noopener noreferrer">doc.exponential.earth</a>.</p>
</div>
  <div class="site-pathline"><p class="path">&nbsp; kernel <span class="slash">/</span> other_concepts &nbsp;</p></div>

<table class="path" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="pathline" width="50%">
    <a class="path" href="../template_operators/index.html">&lt;&lt; Template operators</a>&nbsp;
    </td>
    <td class="pathline" align="right" width="50%">
    &nbsp;
    </td>
</tr>
</table>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/kernel">Kernel</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/kernel/view/other_concepts/index.html">Other concepts</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2">
<h1>Other concepts</h1>

<h2>Information collector</h2>
<p>
In the class edit you can mark attributes as information collectors. This means that
they can be used to get information from the user. Not all data types can be used as
information collectors. Information collector will primarily be used for handling forms
and polls, but may be extended to handle other information collections as well.
See the <a href="/sdk/tutorials/view/forms">Creating forms</a> tutorial for an example.
</p>

<h2>Object version</h2>
<p>
Every content object consists of one or more versions. These versions contain the content
data for the content object. Only one version of an object can be considered published,
this is called the current version. Each version may belong to a different user.
</p>

<h2>Object translation</h2>
<p>
Every content object consists of minimum one version with one translation.
You can have as many translations of the content object as you like.
</p>
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>
