<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - API Reference</title>

<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>
<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/ref/view/module/eZTranslation.html"/>
</head>

<body>

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
  <div class="site-pathline"><p class="path">&nbsp; module <span class="slash">/</span> eZTranslation &nbsp;</p></div>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/ref.html">API Reference</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><p class="groupname">Sections</p><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/ref/view/todo/">Todo</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2"><h1 class="dox">Translation<br>
<small>
[<a class="dox_el" href="/sdk/ref/view/module/eZI18N.html">Internationalization</a>]</small>
</h1><table border="0" cellpadding="0" cellspacing="0">
<tr><td></td></tr>
<tr><td colspan="2"><br><h2>Compounds</h2></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZ1337Translator.html">eZ1337Translator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Translates text into the leet (1337) language.</em> <a href="/sdk/ref/view/class/eZ1337Translator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZBorkTranslator.html">eZBorkTranslator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Translates text into the Bork language (Mock Swedish).</em> <a href="/sdk/ref/view/class/eZBorkTranslator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZRandomTranslator.html">eZRandomTranslator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Translates text by picking randomly among it's sub handlers.</em> <a href="/sdk/ref/view/class/eZRandomTranslator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZShuffleTranslator.html">eZShuffleTranslator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Translates text by moving characters around.</em> <a href="/sdk/ref/view/class/eZShuffleTranslator#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTranslatorGroup.html">eZTranslatorGroup</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Allows for picking translator handlers according to context.</em> <a href="/sdk/ref/view/class/eZTranslatorGroup#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTranslatorHandler.html">eZTranslatorHandler</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>Base class for translation handling.</em> <a href="/sdk/ref/view/class/eZTranslatorHandler#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTranslatorManager.html">eZTranslatorManager</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>This provides internationalization support for text output.</em> <a href="/sdk/ref/view/class/eZTranslatorManager#_details">More...</a><em></em></font><br><br></td></tr>
<tr><td nowrap align="right" valign="top">class &nbsp;</td><td valign="bottom"><a class="dox_el" href="/sdk/ref/view/class/eZTSTranslator.html">eZTSTranslator</a></td></tr>
<tr><td>&nbsp;</td><td><font size="-1"><em>This provides internationalization using XML (.ts) files.</em> <a href="/sdk/ref/view/class/eZTSTranslator#_details">More...</a><em></em></font><br><br></td></tr>
</table>
&nbsp;
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>