<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - Kernel</title>

<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/kernel/view/data_storage.html"/>
</head>
<head>
<title>Exponential SDK</title>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>

</head>

<body style="background: url(/design/standard/images/grid-background.gif);">

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
<div class="doc-notice">
  <p>&#128218; <strong>Looking for current Exponential documentation?</strong> This site contains legacy SDK &amp; API reference docs (eZ Publish era). For up-to-date 2026 product documentation, visit <a href="https://doc.exponential.earth" target="_blank" rel="noopener noreferrer">doc.exponential.earth</a>.</p>
</div>
  <div class="site-pathline"><p class="path">&nbsp; kernel <span class="slash">/</span> data_storage &nbsp;</p></div>

<table class="path" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="pathline" width="50%">
    <a class="path" href="workflows/index.html">&lt;&lt; Workflows</a>&nbsp;
    </td>
    <td class="pathline" align="right" width="50%">
    <a class="path" href="template_operators/index.html">Template operators &gt;&gt;</a>&nbsp;
    </td>
</tr>
</table>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/kernel">Kernel</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/kernel/view/other_concepts/index.html">Other concepts</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2">
<h1>Data storage</h1>

<p>
This document describes the XML format used in Exponential. When Exponential
stores content objects each attribute is stored as one row in the database.
The user can manually define the structure of content objects using
content classes.
</p>

<p>
The content class automatically creates the XML schema for the document.
</p>

<p>
Let us consider this simple content class:
</p>

<p>
Class name: Article
</p>
<p>
Class attributes:
Title : String ( &lt;255 characters )
Intro : Text ( unformatted text )
Body : XML formatted text
</p>

<p>
When you create objects of this class each attribute will be stored in one row.
Actually it's a bit more complex than this since every object can have several
versions and every version has a number of translations.
</p>

<p>
The fields Title and Intro will be stored as plain text to the database wich
no XML tags. This is done because of speed when doing e.g. searching in specific
attributes and if you want to fetch only part of the content object - i.e. you
want to display the introduction of the article.
</p>

<p>
The Body field will be stored in XML. This field can contain different tags,
the most used tags are:
</p>

<h2>XML sections in Exponential</h2>
<p>
The XML format in Exponential has tags which handle the most frequently used
content, for specific content needs you can also use custom tags. A section
is the XML equivalent of a content object attribute.
</p>

<h3>Structured text</h3>
<ul>
	<li>emphasize - emphasis</li>
	<li>strong -  stronger emphasis</li>
	<li>cite - a citation</li>
	<li>code - computer code</li>
	<li>pre - pre formatted text</li>
	<li>sample - sample output from programs etc.</li>
	<li>blockquote - normally redered as an indented block</li>
	<li>quote - inline quote with delimited "</li>
</ul>

<p>
TODO: add section for technical tags, news tags, book tags, persons, addresses,
 organisations etc..
</p>

<h3>Headers</h3>
<p>
Headers are represented by the header tag. The header tag has the attribute
level which indicates the importance of the header, 1 beeing the most important.
Level must be a positive non zero number.
</p>

<h3>Lines and paragraphs</h3>
<ul>
	<li>paragraph - a paragraph of text</li>
	<li>break - a forced linebreak</li>
</ul>

<h3>Lists</h3>
<ul>
	<li>ordered list - </li>
	<li>unordered list - </li>
	<li>definition list - </li>
</ul>

<h3>Tables</h3>
<p>
You can use table to group structured text, lists and objects into rows
and columns.
</p>

<h3>Objects</h3>
<p>
The object tag refers to an external content object.
</p>

<h3>Sections</h3>
<p>
The tags defined above is the tags you can use to describe content. below is an
example of a typical section. The section would get the name of the content
class attribute.
</p>

<pre class="example">
&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;section&gt;
  &lt;header level="1"&gt;This is my article&lt;/header&gt;
  &lt;paragraph&gt;
    This is a paragraph
  &lt;/paragraph&gt;
&lt;/section&gt;
</pre>

<p>
Minimal example document:
</p>

<pre class="example">
&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;ezcontentobject&gt;
  &lt;title&gt;My article&lt;/title&gt;
  &lt;metadata&gt;
    &lt;language iso="en_GB"&gt;English&lt;/language&gt;
    &lt;created&gt;15-06-20002&lt;/created&gt;
    &lt;published&gt;15-06-20002&lt;/published&gt;
    &lt;modified&gt;15-06-20002&lt;/modified&gt;
  &lt;/metadata&gt;
  &lt;content&gt;
  &lt;introduction&gt;
    &lt;paragraph&gt;

    &lt;/paragraph&gt;
  &lt;/section&gt;
  &lt;/introduction&gt;
&lt;/ezcontentobject&gt;
</pre>

<p>
Sample document:
</p>

<p>
Schema:
</p>

</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>
