<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Exponential SDK - Kernel</title>

<link rel="canonical" href="https://doc.sdk.exponential.earth/sdk/kernel/view/template_operators.html"/>
</head>
<head>
<title>Exponential SDK</title>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/core.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/primary.css"/>
<link rel="stylesheet" type="text/css" href="/design/standard/stylesheets/main.css"/>

</head>

<body style="background: url(/design/standard/images/grid-background.gif);">

<header class="site-header">
  <div class="site-logo">
    <a href="https://doc.sdk.exponential.earth/"><img src="/design/standard/images/exponential.png" class="logo" alt="Exponential"/></a>
  </div>
  <nav class="site-nav">
    <a class="nav-tab" href="/manual/">Manual</a>
    <a class="nav-tab nav-tab-active" href="/sdk/">SDK</a>
  </nav>
</header>
  <div class="site-pathline"><p class="path">&nbsp; kernel <span class="slash">/</span> template_operators &nbsp;</p></div>

<table class="path" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td class="pathline" width="50%">
    <a class="path" href="data_storage.html">&lt;&lt; Data storage</a>&nbsp;
    </td>
    <td class="pathline" align="right" width="50%">
    <a class="path" href="other_concepts/index.html">Other concepts &gt;&gt;</a>&nbsp;
    </td>
</tr>
</table>

<table width="100%" bgcolor="white" cellpadding="5" cellspacing="0" border="0">
<tr>
<td valign="top" width="15%">

<table class="menuboxleft" width="120" cellpadding="1" cellspacing="0" border="0">
<tr>
    <th class="menuheaddark" colspan="2">
    <p class="menuhead"><a class="menuhead" href="/sdk/kernel">Kernel</p>
    </th>
</tr>
<tr>
    <td class="bullet" width="1">
    &nbsp;
    </td>
    <td class="menu" width="99%">
    <p class="menuitem"><img src="/design/standard/images/bullet.gif" width="12" height="12" alt="" border="0"/> <a href="/sdk/kernel/view/other_concepts/index.html">Other concepts</a><br/></p>
    </td>
</tr>
</table>
</td>

<td valign="top" width="85%">
<table width="100%" border="0">
<tr><td colspan="2">
<h1>Template operators</h1>

<p>Overview of available template operators in the kernel</p>

<h2>URL operators</h2>

<p>The URL operators takes a URL and modifies it in some way, they allow for easy change
of sitedesigns. The syntax of all the operators are similar with only their name varying.
The nVH setup is prepended to the URL if one is used to allow seamless VH/nVH setups.
They take one parameter, which defaults to <i>double</i>, which specifies the quotes which are wrapped
around the url.</p>
<p>The quote values are:</p>
<ul>
  <li>double - Uses double (<i>"</i>) quotes</li>
  <li>single - Uses single (<i>'</i>) quotes</li>
  <li>no - Uses no quotes</li>
</ul>

<p>These operators will also be available as template functions which means that they can wrap
around multiple template elements, either that or a <i>concat</i> operator will be created.</p>
<pre class="example">
Using it as a function.

{ezdesign}stylesheets/{$style_name}.css{/ezdesign}

Using it with concat

{concat("stylesheets/",$style_name,".css")|ezdesign}
</pre>

<h3>ezdesign</h3>

<p>
Prepends the current sitedesign to the url, if the file does not exist in that design the
standard sitedesign is used instead.
</p>
<pre class="example">
{"stylesheets/style.css"|ezdesign}

becomes

"/design/mydesign/stylesheets/style.css"
</pre>

<h3>ezimage</h3>
<p>
Prepends the current sitedesign to the url with the <i>image</i> subdirectory,
if the file does not exist in that design the standard sitedesign is used instead.
</p>
<pre class="example">
{"search.png"|ezimage(single)}

becomes

'/design/mydesign/images/search.png'
</pre>

<h3>ezurl</h3>
<p>
Only prepends the nVH directory if one exists.
</p>

<h3>exturl</h3>
<p>
Not done yet, the exact nature of this operator is not clear.
</p>
</td></tr>
</table>
</td>

</tr>
</table>

<br/>
<p class="small"><a href="https://exponential.earth">Exponential</a> Copyright &copy; 1998 - 2026 <a href="https://www.se7enx.com">7x</a></p>
<br/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVXJB28EZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVXJB28EZY');
</script>

</body></html>
